<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Security007 Tools</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='simple-sidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='simple-sidebar.css') }}">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a href="urlshort" class="list-group-item list-group-item-action bg-light">Url Shortner</a>
        <a href="youtube" class="list-group-item list-group-item-action bg-light">Youtube Downloader</a>
        <a href="instagram" class="list-group-item list-group-item-action bg-light">Instagram Downloader</a>
        <a href="webscrap" class="list-group-item list-group-item-action bg-light">Web Scrapper</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Cooming soon!!</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
		<!---Tool Content-->
		<div class="wrapper">
        <h1 class="text">Url Shortner</h1>
    		<form method="POST" action="/" >
  				<input class="search" name="dork" type="text" placeholder="Dork..." required>	
  				<input class="button" type="submit" value="Search">
  			</form>
  		</div>
  		<!--- end tool content -->
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="static/jquery.min.js"></script>
  <script type="text/javascript" src="static/bootstrap.bundle.min.js"></script>


  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
